<div class="container">
    <header class="head">
        <div class="logo">
            <img src="../../assets/tottenham.png" alt="">
        </div>
        <div class="label">Tottenham Hotspur</div>
        <div class="menu"> <a routerLink="" a> Main Page</a></div>
        <div class="calendar"> <a routerLink="calendar">Calendar 2021/2022</a> </div>
    </header>
    <div class="main">
        <div class="news">Tottenham will not be raising their offer for Stuttgart forward Nico Gonzalez today, leaving
            the player to sign for Fiorentina.



            That’s according to Tuttomercatoweb, who say the Argentine ‘now seems to be on the road’ to Italy instead of
            the Premier League.

            Gonzalez has been linked with a move to Tottenham over the last few weeks, with it believed new director of
            football Fabio Paratici is a big fan.

            It was felt they were pushing ahead of Fiorentina for his signature, with Brighton also in the mix as a
            possible destination.

            Embed from Getty Images

            However, reports yesterday indicated that the Serie A side had suddenly jumped to the front of the queue and
            won the race.

            TMW back that up today and say Gonzalez is ‘getting closer’ to joining Fiorentina in a €27m deal plus
            bonuses.

            They say that Tottenham had ‘approached the player’ in the last few days but ‘will not make any raises
            today’, paving the way for him to join Fiorentina in the process.</div>
        <img src="../../assets/Buy-Tottenham-Hotspur-Football-Tickets-FootballTicketNet.jpg" alt="">
    </div>
</div>